layout {

    focus-ring {
        active-color   "#ff4d84"
        inactive-color "#29141b"
        urgent-color   "#ec004a"
    }

    border {
        active-color   "#ff4d84"
        inactive-color "#29141b"
        urgent-color   "#ec004a"
    }


    tab-indicator {
        active-color   "#ff4d84"
        inactive-color "#9a002f"
        urgent-color   "#ec004a"
    }

    insert-hint {
        color "#ff4d8480"
    }
}

recent-windows {
    highlight {
        active-color "#ff4d84"
        urgent-color "#ec004a"
    }
}
