layout {

    focus-ring {
        active-color   "#67bde4"
        inactive-color "#171f26"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67bde4"
        inactive-color "#171f26"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#67bde4"
        inactive-color "#146285"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67bde480"
    }
}

recent-windows {
    highlight {
        active-color "#67bde4"
        urgent-color "#fd4663"
    }
}
