// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb 

        numlock // Enable numlock on startup
        repeat-delay 600
        repeat-rate 25
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        accel-speed 0.8          // Pointer speed from -1.0 to 1.0 (default is 0.0)
        accel-profile "adaptive"     // Use "flat" to disable acceleration, or "adaptive"
    } 


    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
